version: 2.1
jobs:
  build:
    macos:
      xcode: "11.1.0"

    steps:
      - checkout

      - run:
          name: "Install tooling"
          command: brew install swiftlint maven

      - run:
          name: "Run Node SDK Demo"
          command: |
            cd node
            npm i
            node src/index-ilp.js 
            node src/index-payid.js 
            node src/index-xpring.js
            node src/index-xrp.js 

      - run:
          name: "Prepare Swift Demos"
          command: cd swift && carthage bootstrap --platform mac

      - run:
          name: "Run Swift SDK Demo"
          command: |
            cd swift
            set -o pipefail && xcodebuild build -scheme XRP-Demo ONLY_ACTIVE_ARCH=YES
            set -o pipefail && xcodebuild build -scheme ILP-Demo ONLY_ACTIVE_ARCH=YES

      - run:
          name: "Run Java SDK Demo"
          command: |
            cd java
            mvn package
            mvn exec:java@xrp
            mvn exec:java@ilp
